/* TODO: 
* pixels to rem for font
* css variables for colours
* tablet size
*/
* {
  box-sizing: border-box;
}
body {
  background: radial-gradient(ellipse at top, #1F3757, #131537);
  background-attachment: fixed;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #fff;
  margin: 0;
}
img {
  display: block;
}
.container {
  max-width: 938px;
  margin: 0 auto;
}
#wrap {
  display: grid;
}
header {
  width: 75%;
  border: 3px solid rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  padding: 18px 22px 19px 30px;
  display: flex;
  justify-content: space-between;
  margin: 46px auto 61px auto;
}
.logo {
  align-self: center;
}
.score {
  width: 150px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
}
.score h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  color: #2A45C2;
  margin-bottom: 0;
  font-size: 16px;
}
.scoreNum {
  font-size: 64px;
  font-weight: 700;
  color: #565468;
  line-height: 75px;
}
.paper:hover,
.scissors:hover,
.rock:hover {
  cursor: pointer;
}
#game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 476px;
  margin: 0 auto;
  grid-template-rows: 203px 203px;
  grid-row-gap: 25px;
  background-image: url(./images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center 60%;
  z-index: 1;
  position: relative;
  max-width: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
}
#game.noBg {
  background-image: initial;
}
.playerResultIcon {
  width: 198px;
  height: 193px;
  background: transparent;
  border-radius: 50%;
  border: 23px solid transparent;
  box-shadow: 0 10px 0 0 transparent, inset 0 8px 0px 0 transparent;
}
.rock {
  grid-column: 1/-1;
justify-self: center;
}
.scissors {
  grid-column-end: -1;
  justify-self: end;
}
.paper,
.scissors,
.rock {
  background: linear-gradient(to bottom, #DADADA, #F3F3F3);
  width: 198px;
  height: 193px;
  border-radius: 50%;
  border: 23px solid;
  border-bottom-width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.2s ease;
}
.paper {
border-color: #4664F4;
box-shadow: 0 10px 0 0 #2A45C2, inset 0  8px 0px 0 hsl(228.5, 23.2%, 78%);

}
.scissors {
border-color: #EB9F0E;
box-shadow: 0 10px 0 0 #C76C1B, inset 0 8px 0px 0 hsl(228.5, 23.2%, 78%);

}
.rock {
border-color: #DB2E4D;
box-shadow: 0 10px 0 0 #9D1634, inset 0 8px 0px 0 hsl(228.5, 23.2%, 78%);

}
.paper::before,
.scissors::before,
.rock::before {
  background: linear-gradient(to bottom, rgba(255,255,255,0.1), transparent);
  content: '';
  display: block;
  position: absolute;
  width: 198px;
  height: 194px;
  border-radius: 50%;
}
.choice img,
.scissors img,
.rock img,
.paper img {
  width: 68px;
  margin-top: 10px;
  z-index: 5;
}
#paper:hover,
#scissors:hover,
#rock:hover {
  /* transform: scale(1.1); */
  transition: all 0.2s ease;
}

.paper::after,
.scissors::after,
.rock::after,
.playerResultIcon::after {

  transition: all 0.2s ease-in-out;
  content: '';
  display: block;
  background: transparent;
  width: 252px;
  position: absolute;
  height: 248px;
  z-index: -1;
  border-radius: 50%;
  margin-top: 10px;
} 
.paper:hover::after,
.scissors:hover::after,
.rock:hover::after {  transition: all 0.2s ease-in-out;
  background: rgba(255,255,255,0.05);
}

.hidden {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
#results {
  display: flex;
  justify-content: center;
  grid-row: 1/-1;
grid-column: 1/-1;
}
#results.hidden {
  /* opacity: 0.5; */
  pointer-events: none;
}
.resultText {
  display: none;
  width: 1px;
  opacity: 0;
  /* transition: all 0.3s; */
  /* width: 200px; */
}


/** Mobile styles **/
@media only screen and (max-width: 600px) {
  #wrap {
    max-width: 82%;
    display: grid;
    margin: 0 auto;
}
  .logo {
    max-height: 57px;
}
  .score {
      width: auto;
      padding: 0 25px;
  }
  .score h3 {
    font-size: 10px;
  }
  .scoreNum {
    font-size: 40px;
    line-height: 48px;
  }
  #game {
    /* max-width: 82%; */
    width: auto;
    grid-template-rows: 138px 138px;
    grid-row-gap: 15px;
    background-image: url(./images/triangle-mobile.png);
  }
  #paper, #scissors, #rock {
    width: 129px;
    height: 132px;
    border-width: 15px;
  }
  #paper::before, #scissors::before, #rock::before,
  .playerResultIcon::before {
    width: 129px;
    height: 132px;
  }
  .choice img {
    width: 43px;
  }
  #paper {
    border-color: #4664F4;
    box-shadow: 0 5px 0 0 #2A45C2, inset 0 5px 0px 0 hsl(228.5, 23.2%, 78%);
  }
  #scissors {
    border-color: #EB9F0E;
    box-shadow: 0 5px 0 0 #C76C1B, inset 0 5px 0px 0 hsl(228.5, 23.2%, 78%);
  }
  #rock {
    border-color: #DB2E4D;
    box-shadow: 0 5px 0 0 #9D1634, inset 0 5px 0px 0 hsl(228.5, 23.2%, 78%);
  }
  #paper::after, #scissors::after, #rock::after {
    content: initial;
    display: initial;
}
}

